body {
  background-color: antiquewhite;
  margin: 0;
  width: 1500px;
}

.layout {
  height: 130px;
  background-color: skyblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  flex: 1;
  /* Adjust flex as needed for the menu */
}

.fi-br-menu-burger {
  font-size: 30px;
}

.logo {
  flex: 2;
  /* Adjust flex as needed for the logo */
}

.search-box {
  flex: 1;
  /* Adjust flex as needed for the search box */
}

.search-button {
  flex: 1;
}

.user-actions {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.login,
.register {
  width: calc(50% - 5px); /* Subtracting 5 pixels for margin between login and register */
  /* Adjust width as needed for login and registration buttons */
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-banner {
  display: flex;
}

.banner-image {
  max-width: 100%;
  height: auto;
  min-height: 600px;
}

.bannerImage {
  width: 100%;
}

.new-title {
  display: flex;
  padding: 40px 50px;
}

.new-item-box {
  display: flex;
  align-items: center;
  min-height: 600px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.new-item-list {
  list-style: none;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 100px;
  transition: left 0.5s ease-out;
}

.new-item {
  height: 500px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
}

.new-item:last-child {
  margin-right: 0;
}

.new-item a {
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}

.new-item img {
  background-color: aquamarine;
  width: 250px;
  height: 400px;
}

.fi {
  position: absolute;
  font-size: 40px;
  color: saddlebrown;
  cursor: pointer;
  padding: 0px 20px;
  z-index: 9;
}

.fi-rr-arrow-left {
  left: 10px;
}

.fi-rr-arrow-right {
  right: 10px;
}

footer.box {
  height: 200px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
